*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.bg-head{
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
}

.col-logo{
    flex-basis: calc(100% / 12 * 3);
}
.col-link{
    flex-basis: calc(100% / 12 * 3);
}
.col-log{
    flex-basis: calc(100% / 12 * 3);
    
}


.row{
    display:flex ;
    flex: wrap;
    
}

/**/

.first-section{
    background-color:#00208b ;
}

.row{
    
    display: flex;
    justify-content: center;
    padding: 20px;
}

.col-1 {
    flex-basis: calc(100% / 12 * 10);
    background-color: #ee82ee;
    padding: 20px;
    min-height: 300px;
}

/**/



.col-2{
    background-color: #1f90ff;
    padding: 20px;
    flex-basis: calc(100% / 12 * 8);
    min-height: 300px;
    
}

.col-3{
    background-color: #ffc0cb;
    padding: 20px;
    flex-basis: calc(100% /12 * 4);
    min-height: 300px;
}

/**/
.thirth-section{
    background-color: #d3d3d3;
}



.col-4{
    background-color: #ffc0cb;
    padding: 20px;
    flex-basis: calc(100% / 12 * 8);
    min-height: 300px;
}

.col-5{
    background-color: #1f90ff;
    padding: 20px;
    flex-basis: calc(100% / 12 * 4);
    min-height: 300px;
}

/**/


.col-6{
    background-color: #228b22;
    padding: 20px;
    flex-basis: calc( 100% /12 * 12);
    min-height: 800px;
}

/**/



.five-section{
    background-color: #22272a;
    
    
}

.col-7{
    flex-basis: calc(100%  / 12 * 4 );    
    background-color: #ef8080;
    min-height: 600px;
}

.col-8{
    flex-basis: calc(100% / 12 * 2);
    min-height: 600px;
    background-color: #21b2aa;
    border-style: dotted;
}

/*footer-inizio*/


.footer-content{
    background-color: #22272a;
    padding: 5px;
    min-height: 30px;
    
}

.row-footer {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    background-color: #80fed4
}

.bottoni{
    
    background-color: #ef8080;
    border-style: dotted;
}

/*
footer fine
*/

/*
header
*/

.nav {
    background-color: #add8e5;
    min-height: 60px;
    padding: 20px 0;

}

.row-header{
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}